<h1>Create a Week</h1>

<form action="/weeks" method="POST">

 <lable>Welcome <%= @user.username %></label>

 <br></br>

<form>
  Date for entry:
  <input type="date" name="date">
</form>

  <label><h4>Exercises</h4></label>

    <% Exercise.all.each do |exercise| %>
      <label><%= exercise.name %></label>
      <input type="checkbox" name="user[exercise_names][]" value="<%= exercise.name %>"><br>
    <% end %>

<br></br>
  <input type="submit" value="submit">
</form>

