<form method="post" action="/add_stats">

<% @entry.exercises.each do |exs| %>

  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <%= exs.name %>
  <br></br>
  Weight:<input type="text" name="weight[]" value="<%= exs.weight %>">
  <br></br>
  Reps:<input type="text" name="reps[]" value="<%= exs.reps %>">
  <br></br>

<% end %>

  <input type="submit" value="submit">

</form>


