<!doctype html>

<html lang = "en">
<head>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
</head>

<body class = "maxout2">

<h1>Create a Entry</h1>

<form action="/entry" method="POST">

 <lable>OK, <%= @user.username %>. Pick a date for this workout and add which exercises you're going to do.</label>

 <br></br>

<form>
  Date for workout session:
  <input type="date" name="date">
</form>

<br></br>

<label><h4 class ="exer">Exercises:</h4></label> 

<br class= "exer"></br>

    <% @names2.each do |exercise_name| %>
      <label><%= exercise_name %></label>
      <input type="checkbox" name="user[exercise_names][]" value="<%= exercise_name %>"><br>
    <% end %>

<br></br>

<label><h4>Add a New Exercise:</h4></label>
  <input type="text" name="exercise[name]">

<br></br>
  <input type="submit" value="submit">


</form>

</body>

</html>

