I GOT YOU BRO...UPDATED! 

<% @entry.each do |entr| %>

<br></br>
<%= entr.name %>
<br></br>
Weight:
<%= entr.weight %>
<br></br>
Reps:
<%= entr.reps %>

<% end %> 

<br></br>

<a href="/edit_entry/<%= @user.date %>">Edit</a>