DAMN BRO! NOT BAD!

<% @entry.each do |entr| %>

<br></br>
<%= entr.name %>
<br></br>
Weight:
<%= entr.weight %>
<br></br>
Reps:
<%= entr.reps %>
<% end %> 
<br></br>

<a href="/edit_entry/<%= @user.date %>">EDIT</a>

<br></br>

<a href="/entries">VIEW ALL ENTRIES</a>