<h1>Signup</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>

<form action="/signup" method="POST">

  <p>
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="text" name="user[password]" id="password">
  </p>

  <input type="submit" id="submit" value="submit">

</form>