<!doctype html>

<html lang = "en">
<head>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Experimental Layouts</title>
</head>

</html>

<body class = "maxout2">

<h1>All right noob, let's get you signed up.</h1>

<% unless locals.empty? %>
  <%= message %>
<% end %>

<form action="/signup" method="POST">

  <p>
    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" id="password">
  </p>

  <input type="submit" id="submit" value="submit">

</form>

</body>

</html>




