<!doctype html>

<html lang = "en">
<head>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>MAXOUT</title>
</head>

<div class="login">

<h1>Login</h1>

<form action="/login" method="POST">

  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  </p>

  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
  </p>

  <input type="submit" id="submit">

</form>

</div>

</html>
