<!doctype html>

<html lang = "en">
<head>
  <meta charset="UTF-8">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Experimental Layouts</title>
</head>

<body class = "maxout">

<h1>Welcome to MAXOUT!</h1> 
<p>
Where I, Bostin Loyd, track your max weight and reps to help you get <strong>BIG, FASTER</strong>.
</p>
You ready to hit the gym?
<br></br>

<a href="/signup">SIGNUP</a> &nbsp; &nbsp; &nbsp;<a href="/login">LOGIN</a>

<br></br>

<img src="/Bostin-Loyd-massive-muscle.jpg" alt="bostin" style="width:400px;height:450px;">

</body>

</html>
