<h1>Welcome to MAXOUT!</h1> 
<p>
Where we track your max weight and reps to help you get <strong>BIG, FASTER</strong>.
</p>
You ready to hit the gym?
<br></br>

<a href="/signup">SIGNUP</a>

<br></br>

<a href="/login">LOGIN</a>
